.slick-slider,.slick-list,.slick-track,.slick-slide,.slick-active div{
  width: 100%;
  height: 100%;
  position: relative;
  outline: none;
  user-select: none;
}

.slick-arrow{
  position: absolute;
}

.slick-prev{
  top: 90%;
  left: 1rem;
  translate: 0 -10%;
  z-index: 5;
  padding: 1.5rem;
  border-radius: 50%;
  background-color: #0b0b0c46;
}

.slick-prev::before{
  content: url(/images/arrow-back.svg);
  position: absolute;
  top: 50%;
  left: 55%;
  translate: -45% -50%;
}

.slick-next{
  top: 90%;
  right: 1rem;
  translate: 0 -10%;
  padding: 1.5rem;
  border-radius: 50%;
  background-color: #0b0b0c46;
}
.slick-next::before{
  content: url(/images/arrow-forward.svg);
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}


.slick-slider .slick-dots{
  position: absolute;
  bottom: 4rem;
  left: 50%;
  translate:-50% 0;
  display: flex;
  justify-items: center;
  gap: 4px;
  align-items: center;
  max-width: unset;
  width: unset;
  z-index: 10;
}

.slick-dots li{
  margin-inline: 1rem;
}

.slick-dots li button::before{
  content: ' ';
  width: 2rem;
  height: 8px;
  background: white;
  
}



.slick-slide .first-image{
  background:linear-gradient(to bottom, #11121349,#11121349 ,#0b0b0c2d),  url(/images/homepage-3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  
}
.slick-slide .second-image{
  background: linear-gradient(to bottom, #11121325,#11121336 ,#0b0b0c2d), url(/images/homepage-2.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slick-slide .third-image{
  background:linear-gradient(to bottom, #11121325,#11121336 ,#0b0b0c2d),  url(/images/homepage-1.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 25% 60%;
}
.slick-slide .fourth-image{
  background:linear-gradient(to bottom, #11121349,#1112135d ,#0b0b0c2d),  url(/images/homepage-4.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% top ;
}

.navbar ul li a,.navbar-mobile ul li a{
  position: relative;
  height: 100%;
}

.navbar ul li a:hover,.navbar-mobile ul li a:hover{
  color: #FFFFFF89;
}
.navbar ul li a.active, .navbar-mobile ul li a.active{
  color: #0499CF;
}

.navbar ul li a::after {
  content: ' ';
  position: absolute;
  bottom: -1.7rem;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease;
  transform-origin: left;
}

.navbar-mobile ul li a::after{
  content: ' ';
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease;
  transform-origin: left;
}

.navbar ul li a.active::after, .navbar-mobile ul li a.active::after{
  width: 100%;
  transform-origin: right;
  background: #0499CF;
}

.navbar ul li a.active:hover:after, .navbar-mobile ul li a.active:hover::after{
  width: 100%;
  transform-origin: right;
  background: #0499CF;
}

.navbar ul li a:hover::after, .navbar-mobile ul li a:hover::after{
  width: 100%;
  transform-origin: right;
  background: #FFFFFF89;
}

.nav-item {
  position: relative;
  display: inline-block;
  padding-block: 1rem;
}

.dropdown .nav-link {
  text-decoration: none;
  padding: 1rem 20px;
  display: inline-block;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: -24px;
  background-color: #1c1c1c;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 250px;
  display: none;
  border: 1px solid #413F3E;
}

.nav-item:hover .dropdown {
  display: block;
}

.dropdown li .project::after{
  content: ' ';
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all 0.3s ease;
  transform-origin: left;
}

.dropdown li .project:hover::after{
  width: 100%;
  transform-origin: right;
}

.dropdown-item {
  padding: 10px 20px;
}

.dropdown-item a {
  text-decoration: none;
  color: #fff;
  display: block;
}

.navbar-mobile.active{
  right: 0;
}


.client img{
  padding-inline: 1rem;
  width: 200px;
}

.quote{
  background:linear-gradient(to bottom right, #1112136b ,#0b0b0c56), url(/images/get-to-work.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 80%;
  padding: 200px 0;
}

.quote-btn:hover svg {
  fill: #fff;
  rotate: 45deg;
}

@media screen and (max-width:768px) {
  .slick-dots li{
    margin-inline: 0.4rem;
  }
  .slick-dots li button::before{
    content: ' ';
    width: 1.5rem;
    height: 8px;
    background: white;
    
  }

  .client img{
    padding-inline: 1rem;
    width: 100px;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0%;
    /* translate: -50% 0; */
    background-color: #1c1c1c;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* z-index: 1; */
    width: full;
    display: none;
    border: 1px solid #413F3E;
  }

  .dropdown-item {
    padding: 10px;
  }
  

  
}

@media screen and (min-width:1024px) {
  .hamburger-react{
    display: none;
  }
  
}